*{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: url(../images/note-pic.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.allmessages{
    color: red;
}
.form-container{
    width: 200px;
    height: 130px;
    padding: 5px 5px 5px 15px;
    margin: 10px 0;
    vertical-align: top;
    margin-left: 550px;
    input{
        margin-bottom: 5px;
    }
}

.form-title{
    margin-top: 0;
}
.submitbutton{
    display: block;
}
.nav-items{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-top: 270px;
    margin-left: 360px;
    width: 500px;
    justify-content: space-around;  
}
.nav-item{
    margin-left: 10px;
    margin-left: 17px;
    color: #bb671c;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.nav-container{
    width: 1366px;
    height: 50px;
    margin: 0 auto;
}
.navbar{
    width: 100%;
    height: 100%;
}